.formulario {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.formulario__legenda {
  font-size: 22px;
  font-weight: var(--fonte-peso-legenda);
}

.input {
  background-color: var(--cor-cartao);
  box-sizing: border-box;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--cor-input);
  display: flex;
  height: 3.25rem;
  padding: 1.375rem 0.5rem 0.5rem;
  width: 100%;
}

.input::placeholder {
  visibility: hidden;
  color: #00000000;
}

.input:focus {
  outline: none;
}

.input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-weight: var(--fonte-peso-input);
  justify-content: flex-end;
  margin: 1rem 1rem 1rem 0;
  position: relative;
}

.input-label {
  position: absolute;
  top: 1.375rem;
  left: 0.5rem;
  font-size: var(--fonte-tamanho-input-label);

  transition: all .25s;
}

.input:not(:placeholder-shown) + .input-label , .input:focus + .input-label{
  font-size: 0.875rem;
  top: 0.25rem;
  transition: all .25s;
}

#descricao {
  background-color: var(--cor-textarea);
  border-color: var(--cor-botao);
  border-radius: 5px;
  padding: 0.5rem;
  resize: none;
}

#descricao:focus::placeholder {
  color: transparent;
}
