body {
  background-color: var(--cor-primaria);
  color: var(--cor-fonte-principal);
}

.link {
  color: var(--cor-primaria);
  text-decoration: none;
  background: linear-gradient(var(--cor-primaria) 0 0) var(--p, 0) / var(--p, 0) no-repeat;
  transition: .4s, background-position 0s;
}

.link:hover {
  color: var(--cor-fonte-principal);
  --p: 100%;
  border-radius: 5px;
  padding: 0.5rem;
}

fieldset {
  border: 0 none;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  display: flex;
}

.flex--centro {
  align-items: center;
  justify-content: center;
}

.flex--coluna {
  flex-direction: column;
}

.link-estatico {
  color: var(--cor-primaria); 
  font-weight: var(--fonte-peso-input);
  margin: 0.2rem;
  margin-left: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
  width: 25%;
}

.div-links {
  display: flex;
  flex-direction: column;
}

.bloco-select {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-left: 0;
  width: auto;
}

.select {
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  height: 2.5rem;
  margin: 0.5rem;
  margin-left: 0;
}

.select-label {
  font-family: var(--fonte-familia-corpo);
  font-size: var(--fonte-tamanho-lista);
}